
<ion-header [translucent]="true"  >
  <ion-toolbar color="barra"  mode="md">
    <ion-title >
      Inicio
    </ion-title> 
    <ion-buttons slot="start">
        <ion-menu-button  manu="main-menu" ></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<body>
  

<ion-content [fullscreen]="true" mode="md">
    <img class="imagen-duoc" src="../../../assets/img/sede_san_carlos_apoquindo-1920x600.jpg" alt="" height="210px">
    <h1 class="informacion">Bienvenido a nuestra aplicación</h1>
    <h2 class="informacion">Información</h2>
    <ion-card class="carta-informacion">
        <p>Esta aplicación se creó para mejorar y simplificar la eficiencia de la toma de asistencia,
         creando un sistema capaz de tomar asistencia por medio de un código QR.</p>
        <p>Profesor: Una vez iniciado sesión, seleccionará la sección de su asignatura a la cual quiere
           registrar asistencia, y presionará el botón de 'GENERAR QR'</p>
        <p>Alumno: Una vez iniciada la sesión, deberá presionar el botón de cámara que aparece en la aplicación,
          lo que permitirá escanear un código. </p>
      
      </ion-card>
    

</ion-content>
</body>